*{
    margin: 0;
    padding: 0;
}
.nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
    color: white;
}
.name{
    text-transform: uppercase;
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.navbar div{
    margin-right: 20px;
}
.nav-link{
    text-decoration: none;
    color: rgb(212, 212, 212);
}
.home{
    background-image: url(https://images.pexels.com/photos/164938/pexels-photo-164938.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
